[submodule "index-benchmarking/libs/proj"]
	path = index-benchmarking/libs/proj
	url = https://github.com/OSGeo/PROJ.git
[submodule "index-benchmarking/libs/gdal"]
	path = index-benchmarking/libs/gdal
	url = https://github.com/OSGeo/gdal.git
[submodule "index-benchmarking/libs/absl"]
	path = index-benchmarking/libs/absl
	url = https://github.com/abseil/abseil-cpp.git
[submodule "index-benchmarking/libs/geos"]
	path = index-benchmarking/libs/geos
	url = https://github.com/libgeos/geos.git
[submodule "index-benchmarking/libs/h3"]
	path = index-benchmarking/libs/h3
	url = https://github.com/uber/h3.git
[submodule "index-benchmarking/libs/s2"]
	path = index-benchmarking/libs/s2
	url = https://github.com/google/s2geometry.git
